<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Document</title>
</head>

<body>

    <header>
        <h1>
            Assignment 2
        </h1>
    </header>
    <section id="main-section">

    </section>
    <footer class="fixed-bottom">
        <h3>Jakub Krzyzynski, Adam Petro, Olivier Smet</h3>
    </footer>

</body>

</html>
<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
<script src="retrieveData.js"></script>
<!-- <script src="script.js"></script> -->